_docshots/
_minted-*
.DS_Store
.idea/
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.exc
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.pyg
*.run.xml
*.sty
*.synctex.gz
*.tex
*.toc
*.zip
build/
ffcode-ctan.curlopt
node_modules/
package/
target/
.claude/
